*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: sans-serif;
    background-color: white;
}
 .contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
 }
 .contact .content{
     max-width: 800px;
     text-align: center;
 }
 .contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: cyan;
 }
 .contact .content p{
    font-size: 300;
    color: black;
 }
 .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    margin-top: 30px;
 }
 .container .content .card .cardbody {
    width: 50%;
    display: flex;
    flex-direction: column;
 }
 .Contactform {
    width: 40%;
    padding: 20px;
    background: cyan;
 }
 .Contactform h2 {
    font-size: 30px;
    font-weight: 500;
 }
 .Contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
 }
 .Contactform .inputbox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: nb;
 }

