*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height: auto;
    width: 100%;
}
header{
    height: 100px;
    position: sticky;
    top:0px;
    background-color: rgb(22, 22, 22);
    z-index: 1;
}
.logo{
    padding-left: 24px;
    padding-top: 12px;
    display: inline;
    font-size: 32px;
    color:rgb(1, 222, 230);
    vertical-align: middle;
    float: left;
}
nav{
    float: right;
    padding-right: 24px;
}
nav ul{
    display: flex;
    vertical-align: middle;
    font-size: 20px;
    padding-top: 30px;
     text-decoration: none;
    list-style-type: none;
}
nav a{ 
    text-decoration: none;
    color: white;
    margin-left: 16px;
    transition-duration: 200ms;
}
nav a:hover{
    color:rgb(1, 222, 230)
}
nav a.active{
    color: rgb(1,222,230);
}
.title {
    height: 60px;
    position: sticky;
    top: 100px;
    z-index: 1;
    left:25%;
    width: 75%;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(1,222,230);
}
.title h1{
    color: rgb(22, 22, 22);
    font-size: 50px;
    padding: 5px;
    font-weight: bold;
    vertical-align: middle;
    text-transform:uppercase ;
}
.vert-navbar{
    position: fixed;
    left: 0;
    top: 100px;
    width: 25%;
    height: 100%;
    background-color:rgb(43, 43, 43);
    align-items: center;
    vertical-align: middle;
}
ul{
    list-style: none;
}
.vert-navbar ul li{
    margin: 8px;
    padding: 10px;
    margin-top: 50px;

    text-align: center;
}
.vert-navbar a{
    color: rgb(1, 222, 230);
    text-decoration: none;
    font-size: 24px;
    transition-duration: 200ms;
}
.vert-navbar a:hover{
    color: rgb(243, 243, 243);
}
.vert-navbar .ref-cu{
    align-self: center;
    padding: 5%;
    background-color:rgb(1, 222, 230);
    color: rgb(243, 243, 243);
    border-radius: 15px;
}
.vert-navbar .ref-cu:hover{
    color:rgb(22, 22, 22);
    font-weight: bold;
}
.services{
    position: relative;
    left:25%;
    width: 75%;
    background-color: lightgray
}
.section{
    position: relative;
    height: 100vh;
    padding-block: 70px;
}
.section .bg-image{
    width: 100%;
    height: 100%;

}
.section img{
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.section .text{
    position: absolute;
    top: 250px;
    text-align: center;
}
.section .text h2{
    margin-bottom: 16px;
    font-size: 50px;
    font-weight: bold ;
    color: rgb(0, 0, 0);
}
.section .text p{
    padding-inline: 150px;
    font-size: 26px;
    color: black;
    font-weight: bold;
    text-align: left;
}
footer{
    position: relative;
    left: 25%;
    width: 75%;
    margin-block:20px ;
    height: 15%;
    vertical-align: middle;
    display: flex;
}
footer .social{
    display: flex;
    gap: 15px;
    height: 14px;
    margin-left:20px ;
}
.social svg{
    height: 20px;
}